{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'app/style.css' %}">

<h2>Rainmakers 2020</h2>

<div class="table-wrapper">
    <table class="fl-table">
    <tr>
        <th>Week</th>
        {% for point in all_points.0 %}
        <th>{{ point.player.displayed_name }}</th>
        {% endfor %} 
        <th>Winner</th>       
    </tr>    

    
    {% for row in all_points %}        
        <tr>            
            <td>{{ row.1.week }}</td>
            {% for cell in row %}
                {% if cell.max_points %}
                    <td class='weekly-winner'>{{ cell.net_weekly_points }}({{cell.transfer_cost}})</td>
                {% else %}
                    <td>{{ cell.net_weekly_points }}({{cell.transfer_cost}})</td>
                {% endif %}                
            {% endfor %}
            <td>{{ row.1.weekly_winner }}</td>
        </tr>        
    {% endfor %}
    
    <tr>            
        <td>Transfer Cost</td>
        {% for cell in total_transfer_cost_all_players %}            
            <td>{{ cell.total_transfer_cost }}</td>            
        {% endfor %}        
    </tr>
    
    <tr>            
        <td>Total Points</td>
        {% for cell in total_points_diff %}            
            <td>{{ cell }}</td>            
        {% endfor %}        
    </tr>    

</table>
</div>

<!-- <br> -->

<div class="table-wrapper">
    <table class="fl-table">
    <tr>
        <th>Name</th>
        <th>Weekly Wins</th>
        <th>Winnings</th>
        <th>Overall Rank</th>
    </tr>    

    {% if weekly_win_totals %}   
    {% for row in weekly_win_totals %}
        <tr>
            <td>{{ row.0.player.displayed_name }}</td>
            <td>{{ row.0.weekly_wins }}</td>
            <td>{{ row.0.winnings }}</td>
            <td>{{ row.1 }}</td>
        </tr>
    {% endfor %}        
    
    {% else %}
        <p>Disturbance in the FORCE</p>
    {% endif %}

</table>
</div>